/* FIX PROJECT IMAGE OVERFLOW */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
}

.project-card {
    width: 100%;
    overflow: hidden;
}

.project-slider {
    position: relative;
    width: 100%;
    height: 320px;
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

/* REMOVE PAGE SIDE SCROLL */

body {
    overflow-x: hidden;
}