* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: black;
    color: white;
}

/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 50px;
}

.hero-content h3 {
    color: cyan;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.hero-content p {
    color: gray;
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 500px;
}

.btn {
    padding: 15px 30px;
    background: cyan;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.hero-image img {
    width: 350px;
    border-radius: 30px;
}

/* SECTIONS */

.about,
.projects,
.media,
.contact {
    padding: 100px 80px;
}

.about h2,
.projects h2,
.media h2,
.contact h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

/* PROJECT CARD */

.project-card {
    background: #111;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.project-card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-card {
    background: #111;
    padding: 40px;
    border-radius: 25px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
}
/* PROJECT SLIDER */

.project-slider {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 18px;
    background: #1a1a1a;
    padding: 10px;
}

.slide {
    display: none;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

.slide.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
}

.prev:hover,
.next:hover {
    background: cyan;
    color: black;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* MEDIA */

.media-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.media-gallery img {
    width: 100%;
    border-radius: 20px;
}

/* CONTACT */

.contact a {
    color: black;
    background: cyan;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
}

/* RESPONSIVE */

@media(max-width:900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 50px;
    }

    .media-gallery {
        grid-template-columns: 1fr;
    }
}